.classpath
.project
.settings
.DS_Store
dependency-reduced-pom.xml
target/
build/
.gradle
.factorypath
atlassian-ide-plugin.xml
.externalToolBuilders
*.iml
.idea/*
!.idea/codeStyleSettings.xml
local.properties
.directory
out/
*.jar
libs/
